# Local .terraform directories

az-platform-eng-bootcamp/terraform/environment/prod/.terraform/
az-platform-eng-bootcamp/terraform/environment/prod/*.tfstate
az-platform-eng-bootcamp/terraform/environment/prod/*.tfstate.backup
az-platform-eng-bootcamp/terraform/environment/prod/.terraform.lock.hcl


