# Local .terraform directories

terraform/environment/prod/.terraform/
terraform/environment/prod/*.tfstate
terraform/environment/prod/*.tfstate.backup
terraform/environment/prod/.terraform.lock.hcl

